.input{
    width: 80vw;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
}
.input > input{
    width: 90%;
    font-size: 2rem;
    text-align: center;
    border: none;
    background: none;
    outline: none;
    /* display: block; */
    /* margin:auto; */
}
.todolist{
    display: flex;
    flex-direction: column;
}
.plus{
    height: 50%;
    margin-right: 20px;
}
.task{
    width: 80vw;
    height: 50px;
    margin: 10px auto;
    background-color: rgb(186, 185, 185);
    font-size: 2rem;
    opacity: 1;
}
.lowerOpacity{
    transition: all 0.3s;
    opacity: 0;
}
.hide{
    display: none;
}